
// base color
$color-white: #fff;
$color-black: #000;
$color-primary: #FFB742;
$color-secondary: #383E45;
$color-text: #D5D5D5;
$color-link: #212529;
$color-l: #7B7B7B;


$bg-primary: #FFB742;
$bg-secondary: #383E45;
$bg-white: #fff;
$bg-footer: #1C1C1C;
